* {
    font-family: 'Stylish', sans-serif;
}

.card-page {
    width: 900px;

    margin: 10px auto;
}

.my-form {
    width: 500px;
    /* top left bottom right */
    margin: 10px auto 30px auto;

    border: 4px solid black;
    border-radius: 5px;

    padding: 25px;
}

.card-title {
    color: lightskyblue;
}

.comment {
    color:mediumblue;
    font-weight: bold;
}

